<!--  This view will show current customers and will also give Admin users the ability to create and delete a customer  -->

<div>

  <h1 class="center">Customers</h1>


  <ul class="collection">
   <li class="collection-item avatar">
     <i class="material-icons circle">folder</i>
     <span class="title">Title</span>
     <p>First Line <br>
        Second Line
     </p>
     <a href="#!" class="secondary-content"><i class="material-icons">delete</i></a>
   </li>
   <li class="collection-item avatar">
     <i class="material-icons circle green">insert_chart</i>
     <span class="title">Title</span>
     <p>First Line <br>
        Second Line
     </p>
     <a href="#!" class="secondary-content"><i class="material-icons">delete</i></a>
   </li>
   <li class="collection-item avatar">
     <i class="material-icons circle red">play_arrow</i>
     <span class="title">Title</span>
     <p>First Line <br>
        Second Line
     </p>
     <a href="#!" class="secondary-content"><i class="material-icons">delete</i></a>
   </li>

 </ul>


</div>
