<!--  Inventory Chart for top ten items  -->
<div class="center">
  <ul class="right">
    <li ng-click="barGraphView()" class="material-icons">equalizer</li>
    <li ng-click="radarGraphView()" class="material-icons">select_all</li>
  </ul>
  <h4 class="center">{{pageMessage}}</h4>
</div>

<div layout-margin class="center">
  <button ng-click="listTop5()" class="btn waves-effect indigo">Top 5</button>
  <button ng-click="listTop10()" class="btn waves-effect indigo">Top 10</button>
</div>

<div ng-hide="viewBarGraph" id="bar-graph">
  <canvas id="bar" class="chart chart-bar"
    chart-data="data" chart-labels="labels" chart-series="series" chart-colors="colors">
  </canvas>
</div>

<canvas ng-hide="viewRadarGraph" id="radar" class="chart chart-radar"
  chart-data="data" chart-options="options" chart-labels="labels" chart-colors="colors">
</canvas>
