<div id="login-menu">
  <div class="row">
    <div layout-margin class="col s12 m12">
      <h3 class="indigo-text center">Welcome To Invimtory</h3>
      <h5 class="indigo-text center">Please Sign In With Google to Continue</h5>
      <a class="waves-effect btn indigo col offset-s4" ng-click="login()">Login with Google<i class="material-icons right">language</i></a>
      <!-- <div class="input-field">
        <input type="text">
        <label for="">Email</label>
      </div>
      <div class="input-field">
        <input type="text">
        <label for="">Password</label>
      </div>
      <div class="row">
        <button class="btn waves-effect waves-light col m8 s12 offset-m2 indigo" type="submit" name="action">Login
          <i class="material-icons right">check</i>
        </button>
      </div>
      <div class="row">
        <button class="btn waves-effect waves-light col m8 s12 offset-m2 indigo" type="submit" name="action">Register
          <i class="material-icons right">send</i>
        </button>
      </div> -->
    </div>
  </div>
</div>
