<section class="">
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <h3 class="indigo-text">Log In</h3>
      <div class="input-field">
        <input type="text">
        <label for="">Email</label>
      </div>
      <div class="input-field">
        <input type="text">
        <label for="">Password</label>
      </div>
      <div class="row">
        <button class="btn waves-effect waves-light col m8 s12 offset-m2 indigo" type="submit" name="action">Login
          <i class="material-icons right">check</i>
        </button>
      </div>
      <div class="row">
        <button class="btn waves-effect waves-light col m8 s12 offset-m2 indigo" type="submit" name="action">Register
          <i class="material-icons right">send</i>
        </button>
      </div>
      <div class="row">
        <a class="waves-effect waves-light btn col m8 s12 offset-m2 indigo" ng-click="login()">Login with Google<i class="material-icons right">language</i></a>
      </div>
    </div>
  </div>
</section>
