<div id="login-menu" class="container">

  <div class="login-container grey lighten-1">
    <div class="login-console">
      <h3 class="indigo-text">Welcome To Invimtory</h3>
      <h5 class="indigo-text">Please Sign In With Google to Continue</h5>
      <a class="waves-effect btn indigo col s4" ng-click="login()">Login with Google<i class="material-icons right">language</i></a>
    </div>

    <div class="row login-description-console">
      <div class="center">
        <i class="medium material-icons">question_answer</i>
        <h5>What Is Invimtory?</h5>
        <p>Invimtory is a sales and inventory tracking system that uses an easily navigatible interface to allow users to easily add customers and orders to their accounts. It is also a great tool that can efficiently list complex and lengthy inventory kits to ensure shipment accuracy.</p>
      </div>

      <div class="center">
        <i class="medium material-icons">add</i>
        <h5>Info Two</h5>
        <p>Lorem Ipsum és un text de farciment usat per la indústria de la tipografia i la impremta. Lorem Ipsum ha estat el text estàndard de la indústria des de l'any 1500, quan un impressor desconegut va fer servir una galerada de text.</p>
      </div>
    </div>
  </div>

</div>
