<div ng-controller="NavbarCtrl">

  <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <li><a class="indigo-text" href="#/view/customer">Customers</a></li>
    <li class="divider"></li>
    <li><a class="indigo-text" href="#/view/order">Orders</a></li>
    <li class="divider"></li>
    <li><a class="indigo-text" href="#/view/item">Items</a></li>
    <li class="divider"></li>
    <li><a class="indigo-text" href="#/view/inventory">Inventory</a></li>
  </ul>
  <nav>
    <div class="nav-wrapper grey lighten-1 z-depth-2">
      <a href="#/home" class="center brand-logo indigo-text">Invimtory</a>
      <ul class="right hide-on-sm-and-down">
        <!-- Dropdown Trigger -->
        <li><a id="dropdown-button" class="indigo-text" href="#!" data-activates="dropdown1"  ng-hide="disableNavbar">Shortcut<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a class="indigo-text" ng-click="showConfirm($event)" ng-hide="disableNavbar">Logout</a></li>
      </ul>
    </div>
  </nav>

</div>
