<div ng-controller="NavbarCtrl">

  <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="#/view/customer">Customers</a></li>
    <li class="divider"></li>
    <li><a href="#!">Orders</a></li>
    <li class="divider"></li>
    <li><a href="#!">Items</a></li>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="center brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <!-- Dropdown Trigger -->
        <li><a id="dropdown-button" href="#!" data-activates="dropdown1">Shortcut<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a ng-click="showConfirm($event)">Logout</a></li>
      </ul>
    </div>
  </nav>

</div>
