<!-- cusotmer company, name date -->
<!--  each item info, push to array  -->

<h4 class="center">Order Ticket</h4>
<h5 class="right">Sales Number: {{customerOrder.salesNumber}}</h5>

<!--  Customer Address  -->
<h4>Ship To:</h4>
<h5>{{customerOrder.customerName}}</h5>
<h5>{{customerOrder.customerCompany}}</h5>
<hr><br>

<div class="row">
  <h5 class="col s4 push-s1">Part Number</h5>
  <h5 class="col s4 push-s1">Description</h5>
  <h5 class="col s4 push-s1">Quantity</h5>
</div><br>

<div ng-show="displayMode" class="row" ng-repeat="each in itemList">
  <ul>
    <li class="material-icons left">list</li>
    <li class="col s3" ng-click="test()">{{each.itemNumber}}</li>
    <li class="col s3 push-s1">{{each.itemDescription}}</li>
    <li class="col s3 push-s3">{{each.itemQuantity}}</li>
  </ul><br><hr>
</div>

<div ng-hide="displayMode" class="row" ng-repeat="each in itemList">
  <ul id="item-number-input" layout-margin class="item-line-list">
    <li><input ng-model="each.itemNumber" class="col m4" type="text" placeholder="Enter Item"></li>
    <li class="col push-s5"><input ng-model="each.itemQuantity" class="col m4" type="number" placeholder="Quantity" value=""></li>
    <a id="item-validate-btn" ng-click="validateItem(each.itemNumber)" class="disabled right green waves-effect btn col s1">Save</a>
  </ul><br><br>
</div><br><br><br>

<div layout-margin class="row">
  <a id="edit-button" ng-click="editView()" class="waves-effect btn indigo col s2 offset-s4">Edit</a>
  <a id="save-button" ng-click="updateOrder()" class="hide waves-effect btn green col s2 offset-s4">Update</a>
  <a ng-click="deleteOrder()" class="waves-effect btn red col s2">Delete</a>
</div>
