<h4 class="center">Sales Order</h4>

<div class="md-padding">
  <div>
    <h1 class="md-title">Ship To:</h1>

    <!--  Select menu for users customers  -->

    <div>
      <md-input-container class="md-block">
        <label>Customer</label>
        <md-select ng-model="selectedItem" md-selected-text="getSelectedText()">
          <md-optgroup label="customer">
            <md-option ng-value="each" ng-repeat="each in customers">{{each.name}} | {{each.company}}</md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>
    </div>

    <!--  Select menu for departments  -->
    <div class="input-field col s12">
      <select>
        <option value="" disabled selected>Choose Department</option>
        <option value="1">Shipping</option>
        <option value="2">Receiving</option>
        <option value="3">Distribution</option>
      </select>
      <label></label>
    </div><br>


    <!--  Begin item display  -->
    <!-- New item line -->
    <div class="row">
      <ul class="item-line-list">
        <li><input id="user-item-input" ng-model="newItem.itemNumber" class="col m4" type="text" placeholder="Enter Item"></li>
        <li><input ng-model="newItem.itemQuantity" class="col m3" type="number" placeholder="Quantity" value=""></li>
        <li><button id="save-item-button" disabled ng-click="addItem()" class="waves-effect waves-light btn indigo">Save Item</button></li>
        <li><button id="clear-item-button" disabled ng-click="clearItemInput()" class="red waves-effect waves-light btn">Cancel</button></li>
      </ul>
    </div>

    <!-- Saved item line starts here -->
    <div class="row" ng-repeat="item in newOrderItemList">
      <ul class="item-line-list">
        <li class="col m4" type="text">{{item.itemNumber}}</li>
        <li class="col m3" type="number">{{item.itemQuantity}}</li>
        <li><button disabled ng-click="" class="waves-effect waves-light btn indigo">Edit Item</button></li>
        <li><button ng-click="" class="waves-effect waves-light btn red disabled">Delete</button></li>
      </ul>
    </div><br><br><br>


    <div class="center">
      <button id="submit-button" disabled ng-click="submitOrder()" class="green waves-effect btn">Submit</button>
      <button ng-click="showConfirmDeleteOrder($event)" class="red waves-effect btn">Cancel Order</button>
    </div>

  </div>
</div>


<!--  Autocomplete modal  -->
<div id="autocomplete-container" class=" row hide" ng-model="autocompleteSearch">
  <div id="autocomplete-modal" class="col s3">
    <ul class="collection">
      <li  ng-click="selectItem(item)" ng-repeat="item in searchList | filter: autocompleteSearch" class="collection-item">{{item}}</li>
    </ul>
  <!-- <div ng-hide="searchListMessage">
    <br><p layout-margin>No matches were found.</p>
    <br><p layout-margin>Please enter valid partnumber.</p>
  </div> -->
  </div>
</div>
