
<!--  Begin search bar for individual orders  -->
<nav>
  <div class="nav-wrapper indigo">
    <form>
      <div class="input-field">
        <input id="search" placeholder="Search all orders" type="search" required>
        <label for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </form>
  </div>

  <div class="center">
    <a href="#/view/order/template" class="waves-effect waves-light btn indigo">Create Order</a>
  </div>

  <!--  Repeat each order here  -->
  <div class="row">
     <div class="col s6" ng-repeat="each in customerOrderList">
       <div class="oRderS card small card-panel grey">
         <div>
           <a href="#/view/order/ticket/{{each.orderId}}">
           <span class="material-icons right black-text">remove_red_eye</span></a>
           <p class="indigo-text">Name: {{each.customerName}}</p>
           <p class="indigo-text">Company: {{each.customerCompany}}</p>
           <p class="indigo-text">Sales Order Number: {{each.salesNumber}}</p>
           <p class="indigo-text">Date: {{each.date}}</p>
         </div>
       </div>
     </div>
   </div>

</nav>
